[submodule "packages/loader/native"]
	path = packages/loader/native
	url = https://github.com/Oppenheymu/NapukettoQQ-Native.git
[submodule "apps/koishi-plugin-adapter"]
	path = apps/koishi-plugin-adapter
	url = https://github.com/Oppenheymu/koishi-plugin-adapter-napuketto.git
